@font-face {
    font-family: 'Input Sans Compressed';
    src: url('InputSansCompressed-Regular.woff2') format('woff2'),
    url('InputSansCompressed-Regular.woff') format('woff');
    font-weight: normal ;
    font-style: normal;
    font-display: swap ;
}

@font-face {
    font-family: 'Input Sans Compressed';
    src: url('InputSansCompressed-Bold.woff2') format('woff2'),
    url('InputSansCompressed-Bold.woff') format('woff');
    font-weight: bold ;
    font-style: normal;
    font-display: swap ;
}

@font-face {
    font-family: 'Input Sans Compressed';
    src: url('InputSansCompressed-Light.woff2') format('woff2'),
    url('InputSansCompressed-Light.woff') format('woff');
    font-weight: 300 ;
    font-style: normal;
    font-display: swap ;
}


