@font-face {
	font-family: 'InputSansCompressed';
	src:	url('InputSansCompressed-Regular.woff') format('woff');
		
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'InputSansCompressed';
	
	src:	url('InputSansCompressed-Bold.woff') format('woff');
		
	font-weight: bold;
	font-style: normal;
}



@font-face {
	font-family: 'InputSansCompressed';
	
	src:	url('InputSansCompressed-Thin.woff') format('woff');
		
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'InputSansCompressed';
	
	src:	url('InputSansCompressed-Italic.woff') format('woff');
		
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'InputSansCompressed';
	src: 		url('InputSansCompressed-Light.woff') format('woff');
		
	font-weight: 300;
	font-style: normal;
}
