body {
    padding: 0;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'InputSansCompressed';
    background-color: #F2F2F2;
}
.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 6px;
    height: 600px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 12; }
    .div2 { grid-area: 3 / 5 / 10 / 9; 
        
    }
    .div3 { grid-area: 3 / 3 / 10 / 7; }
    .div4 { grid-area: 3 / 7 / 10 / 11; }
    .div5 { grid-area: 11 / 5 / 12 / 9; }
    .div6 { 
        grid-area: 5 / 1 / 8 / 13; 
        background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(242,242,242,1) 46%, rgba(242,242,242,1) 59%, rgba(253,187,45,0) 100%);
    }
    .div7 { grid-area: 6 / 12 / 7 / 13; }
    .div8 { grid-area: 6 / 1 / 7 / 13; }


    h1{
    font-size: 55px;
    font-family: 'Ubuntu Mono', monospace;
    color: rgb(39, 41, 41);
    
    text-align: center;
}

p{
    font-size: 43px;
    font-family: 'Ubuntu Mono', monospace;
    color: rgb(39, 41, 41);
    text-transform: uppercase;
    text-align: center;
}

.imags {
    display: flex;
}


.btn {
    display: block;
    border: solid 1px #272727;
    font-size: 35px;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 50px;
    background: #272727;
    color: #F2F2F2;
    cursor: pointer;
    transition: all 0.2s linear;
    font-family: 'Ubuntu Mono', monospace;
    

}
.btn:hover,
.btn:focus {
background: #F2F2F2;
color: #272727; 
}
.btn:active{
background: #272727;
}
.btn-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divImage{
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;

}